body {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #15206b;
    background-color: #ffecf0;
}

.header p,
h1 {
    margin: 1em auto;
    text-align: center;
}

.clue {
    font-size: 0.8rem;
}

form {
    padding: 2rem;
    background-color: #e3ebff;
    width: 80%;
    margin: 0 auto 30px auto;
    max-width: 500px;
    min-width: 300px;
    border-radius: 1.5em;
}

div {
    padding: 1rem 0;
    border-bottom: 3px dashed #15206b;
}

div:last-of-type {
    border-bottom: none;
    padding: 1rem 0 0.5rem 0;
}

div:first-of-type {
    padding: 0 0 1rem 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 200px;
    margin: 1em auto 0 auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #fd4d38;
    border: none;
    color: white;
    border-radius: 1em;
}

input[type="submit"]:hover {
    color: #fd4d38;
    background-color: #ffb2c5;
}